<app-navbar></app-navbar>
<app-lancamento-cadastro></app-lancamento-cadastro>
<!--
  <app-pessoas-pesquisa></app-pessoas-pesquisa>
  <app-lancamentos-pesquisa></app-lancamentos-pesquisa>
  <app-pessoa-cadastro></app-pessoa-cadastro>

  <p-growl [value]="msgs"></p-growl>
 <p-footer>
    <button type="button" pButton icon="fa-check" label="Sim"
    (click)="confirmacao.accept()"></button>
    <button type="button" pButton icon="fa-times" label="Não"
    (click)="confirmacao.reject()"></button>
  </p-footer>
-->
<ng2-toasty></ng2-toasty>

<p-confirmDialog   acceptLabel="Sim" rejectLabel="Não" ></p-confirmDialog>



