/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}
a {
  color: rgb(96, 96, 221);
  text-decoration: none;
}

label {
  font-weight: bold;
}

@media (min-width: 1300px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}
.col-data{
  width: 130px;
  text-align: center;
}

.col-valor{
  width: 120px;
  text-align: right;
}
.col-acoes{
  width: 90px;

}
